<% default_picture = "/assets/images/default-user.svg"; %>
<nav>
    <div class="nav-container">
        <div class="nav-container-left">
            <div class="nav-item">
                <div class="nav-logo">
                    <img src="/assets/images/logo.svg" alt="">
                </div>
                <a href="/">
                    <p>GetInsta</p>
                </a>
            </div>
            <div class="nav-item">
                <a data-active="false" id="showFeaturesButton"><p>Features</p></a>
                <div id="features">
                    <div class="features-container">
                        <div class="features-item instagram" data-platform="instagram">
                            <div class="features-item-logo">
                                <img src="/assets/images/instagram-logo.png" alt="">
                            </div>
                            <div class="features-item-data">
                                <p class="features-item-name">Instagram</p>
                                <p class="features-item-desc">Get instagram profile, photos and more.</p>
                            </div>
                        </div>
                        <div class="features-item youtube" data-platform="youtube">
                            <div class="features-item-logo">
                                <img src="/assets/images/youtube-logo.png" alt="">
                            </div>
                            <div class="features-item-data">
                                <p class="features-item-name">YouTube</p>
                                <p class="features-item-desc">Download YouTube videos and more.</p>
                            </div>
                        </div>
                        <div class="features-item facebook" data-platform="facebook">
                            <div class="features-item-logo">
                                <img src="/assets/images/facebook-logo.png" alt="">
                            </div>
                            <div class="features-item-data">
                                <p class="features-item-name">Facebook</p>
                                <p class="features-item-desc">Download Facebook videos and more.</p>
                            </div>
                        </div>
                        <div class="features-item tiktok" data-platform="tiktok">
                            <div class="features-item-logo">
                                <img src="/assets/images/tiktok-logo.png" alt="">
                            </div>
                            <div class="features-item-data">
                                <p class="features-item-name">TikTok</p>
                                <p class="features-item-desc">Download Tiktoks.</p>
                            </div>
                        </div>
                        <div class="features-item x" data-platform="x">
                            <div class="features-item-logo">
                                <img src="/assets/images/X-logo.png" alt="">
                            </div>
                            <div class="features-item-data">
                                <p class="features-item-name">X</p>
                                <p class="features-item-desc">Download media from X.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav-item">
                <a href="">
                    <p>Plans</p>
                </a>
            </div>
        </div>
        <div class="nav-container-right">
            <% if(!signedIn){ %>
                <div id="g_id_onload"
                    data-client_id="<%= googleId %>"
                    data-context="signin"
                    data-ux_mode="popup"
                    data-login_uri="https://getinsta.xyz/auth/login"
                    data-use_fedcm_for_prompt="true"
                    data-auto_select="true"
                    data-itp_support="true">
                </div>
                
                <div class="g_id_signin"
                    data-type="standard"
                    data-shape="pill"
                    data-theme="outline"
                    data-text="signin_with"
                    data-size="large"
                    data-logo_alignment="left">
                </div>
            <% }else{ %>
                <div id="mynotifications" class="nav-popup">
                    <!-- <div class="notification-button nav-user-button" data-id="notifications"> -->
                    <div class="notification-button nav-user-button">
                        <div class="notification-icon nav-user-button-icon">
                            <img src="/assets/images/bell.svg" alt="Bell">
                        </div>
                    </div>
                    <div class="nav-user-popup">
                        <div class="nav-popup-inner"></div>
                    </div>
                </div>
                <div id="myaccount" class="nav-popup">
                    <div class="profile-button nav-user-button" data-id="account">
                        <div class="profile-picture nav-user-button-icon">
                            <img src="<%- user.picture.url ?? default_picture %>" alt="Profile Picture">
                        </div>
                    </div>
                    <div class="nav-user-popup">
                        <div class="nav-popup-inner">
                            <div class="user-info">
                                <div class="user-profile-picture">
                                    <img src="<%- user.picture.url ?? default_picture %>" alt="Profile Picture">
                                </div>
                                <div class="user-profile-name">
                                    <p>Hi, <%= user.name ?? 'User' %></p>
                                </div>
                                <a href="/account" class="user-profile-button">
                                    <span>Manage my Account</span>
                                </a>
                            </div>
                            <div class="user-menu">
                                <div class="user-menu-group">
                                    <a href="/account/subscriptions">
                                        <span>
                                            <div class="user-menu-item">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-credit-card"><rect x="1" y="4" width="22" height="16" rx="2" ry="2"/><line x1="1" y1="10" x2="23" y2="10"/></svg>
                                                <p>Subscriptions</p>
                                            </div>
                                        </span>
                                    </a>
                                    <a href="/account/downloads">
                                        <span>
                                            <div class="user-menu-item">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/><polyline points="7 10 12 15 17 10"/><line x1="12" y1="15" x2="12" y2="3"/></svg>
                                                <p>Downloads</p>
                                            </div>
                                        </span>
                                    </a>
                                </div>
                                <div class="user-menu-group">
                                    <div class="user-menu-item">
                                        <form action="/auth/logout" method="post" style="width: 100%;">
                                            <button type="submit">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/><polyline points="16 17 21 12 16 7"/><line x1="21" y1="12" x2="9" y2="12"/></svg>
                                                <p onclick="logout()">Logout</p>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</nav>
<script>//window.user = JSON.parse(`<%- //JSON.stringify(user) %>`)</script>